In [3]:
import pandas as pd
import numpy as np
from pandas import DataFrame
data=np.arange(1,10,1).reshape(3,3)
data

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [13]:
num=DataFrame(data,index=["a","b","c"],columns=["one","two","three"])
num

   one  two  three
a    1    2      3
b    4    5      6
c    7    8      9

In [18]:
num.loc[:,["two","three"]]

   two  three
a    2      3
b    5      6
c    8      9

In [20]:
num.iloc[[0,2],[0,2]]

   one  three
a    1      3
c    7      9

In [23]:
mask=num["one"]>2
data1=num.loc[mask]
data1

   one  two  three
b    4    5      6
c    7    8      9

In [38]:
data1["four"]=10
data1

F:\APP\anaconda\data\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

   one  two  three  four
b    4    5      6    10
c    7    8      9    10

In [39]:
mask=data1>9
mask

     one    two  three  four
b  False  False  False  True
c  False  False  False  True

In [46]:
data1[mask]=8
data1

F:\APP\anaconda\data\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
F:\APP\anaconda\data\lib\site-packages\pandas\core\frame.py:2454: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._where(-key, value, inplace=True)

   one  two  three  four
b    4    5      6     8
c    7    8      9     8

In [57]:
data1.drop(data1.index[0:2],axis=0)

Empty DataFrame
Columns: [one, two, three, four]
Index: []