In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
df1=pd.read_excel("E:\Python\data\studentsInfo.xlsx","Group1",index_col=0)
df2=pd.read_excel("E:\Python\data\studentsInfo.xlsx","Group2",index_col=0)
df3=pd.read_excel("E:\Python\data\studentsInfo.xlsx","Group3",index_col=0)
df4=pd.read_excel("E:\Python\data\studentsInfo.xlsx","Group4",index_col=0)
df5=pd.read_excel("E:\Python\data\studentsInfo.xlsx","Group5",index_col=0)
# 按行追加形式，拼接数据集
stu=pd.concat([df1,df2,df3,df4,df5],axis=0)
print("Data Size:",stu.shape)
# 拼接并查看列数与行数

Data Size: (50, 9)

In [2]:
stu.drop_duplicates(inplace=True)#去除重复行，更新方式
stu.dropna(thresh=8,inplace=True)#去除有缺陷行，更新方式
print("Data Size after drop:",stu.shape)
print("Nan columns:\n",stu.isnull().any())#缺失数据列检测,表明两列需要填充

Data Size after drop: (48, 9)
Nan columns:
 性别      False
年龄       True
身高      False
体重      False
省份      False
成绩       True
月生活费    False
课程兴趣    False
案例教学    False
dtype: bool

In [3]:
stu.fillna({"年龄":20,"成绩":stu["成绩"].mean()},inplace=True)
print("Nan Columns:\n",stu.isnull().any())#再次检查，一切都好

Nan Columns:
 性别      False
年龄      False
身高      False
体重      False
省份      False
成绩      False
月生活费    False
课程兴趣    False
案例教学    False
dtype: bool

In [4]:
stu_grade=stu.sort_values(by="成绩",ascending=False)
fail=(stu_grade["成绩"]<60).sum()
ex=(stu_grade["成绩"]>=90).sum()
print("Excellent:{},fail:{}".format(ex,fail))

Excellent:9,fail:4

In [5]:
ex_mean=stu_grade[0:9][["成绩","课程兴趣"]].mean()#前九行优秀
total_mean=stu_grade[["成绩","课程兴趣"]].mean()
fail_mean=stu_grade[-4:][["成绩","课程兴趣"]].mean()#后四行不及格
print("ex_mean:\n",ex_mean,"\ntotal_mean\n",total_mean,"\nfail_mean\n",fail_mean)

ex_mean:
 成绩      93.777778
课程兴趣     5.000000
dtype: float64
total_mean
 成绩      76.326087
课程兴趣     4.208333
dtype: float64
fail_mean
 成绩      46.0
课程兴趣     3.0
dtype: float64

In [6]:
print(stu_grade["成绩"].corr(stu_grade["课程兴趣"]))

0.491846334808

In [7]:
sex_grouped=stu.groupby(["性别"])
sex_counts=sex_grouped.count()
sex_mean=stu.groupby(["性别"]).aggregate({"成绩":np.mean})
print(sex_counts,"\n",sex_mean)

        年龄  身高  体重  省份  成绩  月生活费  课程兴趣  案例教学
性别
female  24  24  24  24  24    24    24    24
male    24  24  24  24  24    24    24    24
                成绩
性别
female  73.666667
male    78.985507

In [8]:
pro_counts=stu.groupby(["省份"]).count()
pro_mean=stu.groupby(["省份"]).aggregate({"成绩":np.mean})
print(pro_counts,"\n",pro_mean)

              性别  年龄  身高  体重  成绩  月生活费  课程兴趣  案例教学
省份
AnHui          2   2   2   2   2     2     2     2
BeiJing        1   1   1   1   1     1     1     1
ChongQing      3   3   3   3   3     3     3     3
FuJian         1   1   1   1   1     1     1     1
GanSu          3   3   3   3   3     3     3     3
GuangDong      2   2   2   2   2     2     2     2
GuangXi        3   3   3   3   3     3     3     3
GuiZhou        3   3   3   3   3     3     3     3
HaiNan         1   1   1   1   1     1     1     1
HeBei          1   1   1   1   1     1     1     1
HeiLongJiang   2   2   2   2   2     2     2     2
HuBei          1   1   1   1   1     1     1     1
JiLin          1   1   1   1   1     1     1     1
JiangSu        1   1   1   1   1     1     1     1
JiangXi        3   3   3   3   3     3     3     3
LiaoNing       3   3   3   3   3     3     3     3
ShanDong       3   3   3   3   3     3     3     3
ShanXi         2   2   2   2   2     2     2     2
ShangHai       3   3   3   3   3     3     3     3
SiChuan        2   2   2   2   2     2     2     2
TianJin        1   1   1   1   1     1     1     1
XiZang         1   1   1   1   1     1     1     1
XinJiang       2   2   2   2   2     2     2     2
YunNan         3   3   3   3   3     3     3     3
                      成绩
省份
AnHui         77.163043
BeiJing       62.000000
ChongQing     75.333333
FuJian        57.000000
GanSu         82.666667
GuangDong     67.500000
GuangXi       77.666667
GuiZhou       69.666667
HaiNan        12.000000
HeBei         59.000000
HeiLongJiang  89.500000
HuBei         89.000000
JiLin         92.000000
JiangSu       98.000000
JiangXi       75.333333
LiaoNing      78.442029
ShanDong      68.000000
ShanXi        73.000000
ShangHai      83.666667
SiChuan       75.500000
TianJin       86.000000
XiZang        93.000000
XinJiang      87.000000
YunNan        81.333333

In [9]:
stu["BMI"]=stu["体重"]/(np.square(stu["身高"]/100))
print(stu["BMI"].quantile([.25,.5,.75]))
print('BMI>28 肥胖人数:',(stu["BMI"]>=28 ).sum())

0.25    18.609210
0.50    20.450285
0.75    23.431521
Name: BMI, dtype: float64
BMI>28 肥胖人数: 1

In [10]:
pd.crosstab(stu["体重"],stu["性别"])

性别    female  male
体重
20.0       0     1
42.0       1     0
43.0       1     0
44.0       1     0
45.0       3     0
46.0       1     0
47.0       1     0
48.0       2     0
49.0       3     0
51.0       1     0
52.0       4     0
53.0       3     0
54.0       2     0
55.0       1     0
62.0       0     1
63.0       0     3
64.0       0     1
66.0       0     1
68.0       0     1
70.0       0     1
71.0       0     1
72.0       0     1
73.0       0     3
74.0       0     1
75.0       0     1
76.0       0     1
77.0       0     1
78.0       0     2
79.0       0     3
80.0       0     1

In [11]:
stu[["身高","体重","成绩"]].describe()

               身高         体重         成绩
count   48.000000  48.000000  48.000000
mean   168.437500  59.520833  76.326087
std      6.463996  13.719050  15.174242
min    159.000000  20.000000  12.000000
25%    162.000000  49.000000  64.750000
50%    168.000000  54.500000  77.500000
75%    174.000000  73.000000  88.250000
max    181.000000  80.000000  98.000000