In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import DataFrame,Series
stu=pd.read_excel("E:\Python\data\studentsInfo.xlsx","Group3",index_col=0)
stu

        性别  年龄   身高  体重        省份  成绩  月生活费  课程兴趣  案例教学
序号
21  female  21  165  45  ShangHai  93  1200     5     5
22  female  19  167  42     HuBei  89   800     5     5
23    male  21  169  80     GanSu  93   900     5     5
24  female  21  160  49     HeBei  59  1100     3     5
25  female  21  162  54     GanSu  68  1300     4     5
26    male  21  181  77   SiChuan  62   800     2     5
27  female  21  162  49  ShanDong  65   950     4     4
28  female  22  160  52    ShanXi  73   800     3     4
29  female  20  161  51   GuangXi  80  1250     5     5
30  female  20  168  52   JiangSu  98   700     5     5

In [27]:
stu["BMI"]=stu["体重"]/(np.square(stu["身高"]/100))
stu[:3]

        性别  年龄   身高  体重        省份  成绩  月生活费  课程兴趣  案例教学        BMI
序号
21  female  21  165  45  ShangHai  93  1200     5     5  16.528926
22  female  19  167  42     HuBei  89   800     5     5  15.059701
23    male  21  169  80     GanSu  93   900     5     5  28.010224

In [28]:
stu["成绩"].mean()

78.0

In [29]:
stu["月生活费"].quantile([.25,.75])

0.25     800.0
0.75    1175.0
Name: 月生活费, dtype: float64

In [30]:
stu[["身高","体重","成绩","月生活费"]].describe()

               身高       体重         成绩         月生活费
count   10.000000  10.0000  10.000000    10.000000
mean   165.500000  55.1000  78.000000   980.000000
std      6.381397  12.8448  14.476034   216.281709
min    160.000000  42.0000  59.000000   700.000000
25%    161.250000  49.0000  65.750000   800.000000
50%    163.500000  51.5000  76.500000   925.000000
75%    167.750000  53.5000  92.000000  1175.000000
max    181.000000  80.0000  98.000000  1300.000000

In [31]:
grouped=stu.groupby(["性别","年龄"])
grouped.aggregate({"身高":np.mean,"月生活费":np.max,"体重":np.min})

               身高  月生活费  体重
性别     年龄
female 19  167.00   800  42
       20  164.50  1250  51
       21  162.25  1300  45
       22  160.00   800  52
male   21  175.00   900  77

In [32]:
pd.crosstab(stu["性别"],stu["月生活费"])

月生活费    700   800   900   950   1100  1200  1250  1300
性别
female     1     2     0     1     1     1     1     1
male       0     1     1     0     0     0     0     0

In [33]:
stu["身高"].corr(stu["体重"])

0.67573990985276833

In [34]:
stu[["身高","体重","成绩"]].corr()

          身高        体重        成绩
身高  1.000000  0.675740  0.080587
体重  0.675740  1.000000 -0.072305
成绩  0.080587 -0.072305  1.000000

In [35]:
# pd.plotting.scatter_matrix([stu["身高"],stu["体重"]],diagonal="kde",color="k")

AttributeError: module 'pandas' has no attribute 'plotting'