In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame
student=pd.read_csv("E:\Python\data\student1.csv")
student[-3:]

   序号    性别  年龄   身高  体重        省份  成绩
2   3  male  22  180  62    FuJian  57
3   4  male  20  177  72  LiaoNing  79
4   5  male  20  172  74  ShanDong  91

In [3]:
student=pd.read_csv("E:\Python\data\student1.csv",index_col=0)
student[:3]

      性别  年龄   身高  体重        省份  成绩
序号
1   male  20  170  70  LiaoNing  71
2   male  22  180  71   GuangXi  77
3   male  22  180  62    FuJian  57

In [4]:
colNames=["性别","年龄","身高","体重","省份","成绩"]
students=pd.read_csv("E:\Python\data\student2.txt",sep="\s",index_col=0,header=None,names=colNames)
students[:2]

F:\APP\anaconda\data\lib\site-packages\ipykernel\__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

       性别  年龄   身高  体重        省份  成绩
锘�1  male  20  170  70  LiaoNing  71
2    male  22  180  71   GuangXi  77

In [5]:
data=[[19,68,170],[20,65,165],[18,65,175]]
student=DataFrame(data,index=[1,2,3],columns=["age","weight","height"]) #不包括行索引
student.to_csv("E:\Python\data\out.csv",mode="w",header=True,index=False)

In [6]:
student=pd.read_excel("E:\Python\data\student3.xlsx","Sheet1",index_col=0,skiprows=3") #表单名的存在，跳过前三行
student[:2]

SyntaxError: EOL while scanning string literal (<ipython-input-6-810bce33d721>, line 1)